@{
    Layout = "~/Views/Shared/_LayoutEchart.cshtml";
}


@{
    ViewBag.Title = "报表清单";
}

<h2>@ViewBag.Title</h2>

<div style="height:500px;">
    <panel style="float:left;margin:20px;">
        <p style="font-size:large">郭强</p>
        <ul>
            <li><a href="../DashBoard/BusinessOverview1" target="_blank"> 股司经营概览 (纯UI）</a></li>
            <li><a href="../DashBoard/BusinessOverview2" target="_blank"> 事业部及工厂经营概览 (纯UI）</a></li>
            <li> 财务管理驾驶舱 (纯UI）</li>
            <li> 销售管理驾驶舱 (纯UI）</li>
            <li> 采购管理驾驶舱 (纯UI）</li>
            <li> 物流管理驾驶舱 (纯UI）</li>
            <li> 生产管理驾驶舱 (纯UI）</li>
            <li> 质量管理驾驶舱 (纯UI）</li>
            <li> 专项工作跟进展示 (纯UI）</li>
        </ul>
    </panel>

    <panel style="float:left;margin:20px;">
        <p style="font-size:large">赵宇飞</p>
        <ul>
            <li><a href="../YF/ZSD_M001_Q0008port" target="_blank">新业务拓展情况统计分析</a></li>
            <li><a href="../YF/ZSD_M001_Q0011port" target="_blank">销售预测与实际完成情况分析</a></li>
            <li><a href="../YF/ZPU_M001_Q0002port" target="_blank">采购金额总体状况分析</a></li>
            <li><a href="../YF/ZPU_M001_Q0006port" target="_blank">采购降本达成情况分析</a></li>
            <li><a href="../YF/ZPU_M001_Q0004port" target="_blank">采购价格趋势与预实分析</a></li>
            <li><a href="../YF/ZMM_M002_Q0001port" target="_blank">库存准确率分析</a></li>
            <li><a href="../YF/ZSD_M002_Q0006port" target="_blank">订单交期达成情况分析</a></li>
            <li><a href="../YF/ZMM_M002_Q0004port" target="_blank">物流费用预算控制分析</a></li>

        </ul>
    </panel>

    <panel style="float:left;margin:20px;">
        <p style="font-size:large">程旭</p>
        <ul>
            <li><a href="../Cx/ZSD_M001_Q0001AndQ0002AndQ0003" target="_blank"> 产品销售综合分析</a></li>
            <li><a href="../Cx/ZMM_M001_Q0001AndQ0002AndQ0003" target="_blank"> 吉盛生产销售统计表</a></li>
            <li><a href="../Cx/ZSD_M001_Q0006AndQ0007" target="_blank"> 销售价格变动分析</a></li>
            <li><a href="../Cx/ZSD_M001_Q0004AndQ0005" target="_blank">  新品销售贡献分析</a></li>
            <li><a href="../Cx/ZSD_M001_Q0013" target="_blank">  到期未开票情况分析</a></li>
            <li><a href="../Cx/BusinessOverview2" target="_blank">  异常运费统计分析</a></li>

        </ul>
    </panel>


    <panel style="float:left;margin:20px;">
        <p style="font-size:large">张卓</p>
             <ul>
            <li><a href="../ZhzReport/ZCA_M001_Q0001Report" target="_blank"> 应收帐款统计分析</a></li>
            <li><a href="../ZhzReport/ZFI_M001_Q0003Report" target="_blank"> 客户回款与应收账龄分析</a></li>
            <li><a href="../ZhzReport/ZFI_M001_Q0005Report" target="_blank"> 预收帐款统计分析</a></li>
            <li><a href="../ZhzReport/ZFI_M001_Q0008Report" target="_blank"> 应付帐款统计分析</a></li>
            <li><a href="../ZhzReport/ZFI_M001_Q0011Report" target="_blank"> 预付帐款统计分析</a></li>
            <li><a href="../ZhzReport/ZFI_M001_Q0006Report" target="_blank"> 关联方交易总体分析</a></li>
            <li><a href="../ZhzReport/ZFI_M001_Q0012Report" target="_blank"> 到期应付款分析</a></li>
            <li><a href="../ZhzReport/ZFI_M001_Q0013Report" target="_blank"> 存货结构与周转状况分析</a></li>
            <li><a href="../ZhzReport/ZMM_M001_Q0006Report" target="_blank"> 库存周转情况分析</a></li>
            <li><a href="../ZhzReport/ZMM_M001_Q0005Report" target="_blank"> 存货呆滞状况分析</a></li>
            <li><a href="../ZhzReport/ZMM_M001_Q0004Report" target="_blank"> 存货库龄分析</a></li>
            <li><a href="../ZhzReport/ZFI_M001_Q0014Report" target="_blank"> 产品量价结构分析</a></li>
            <li><a href="../ZhzReport/ZCA_M001_Q0004Report" target="_blank"> 期间损益状况分析</a></li>
            <li><a href="../ZhzReport/ZFI_M001_Q0003Report" target="_blank"> 生产成本预实对比分析</a></li>
            <li><a href="../ZhzReport/ZFI_P001_Q0001Report" target="_blank"> 产品成本明细及差异分析</a></li>
        </ul>
    </panel>
</div>