@{
    Layout = "~/Views/Shared/_LayoutEchart.cshtml";
}


@{

    ViewBag.Title = "shuangling";

}

<h2>@ViewBag.Title</h2>

<p>Hello from our View Template!</p>

<!-- <div id="main" style="width: 600px;height:400px;"></div>-->
<div ng-app="myApp">

    <div id="selectArea"></div>


    <div id="main" ng-controller="myCtrl" style="height: 400px">

    </div>

    <div id="bar"  ng-controller="myBarCtrl" style="height: 400px">

    </div>

    <div>
        <table id="tt"  class="easyui-datagrid" ></table>
     </div>
</div>
<script src="~/asset/script/report1.js" type="text/javascript"></script>