@{
    Layout = "~/Views/Shared/_LayoutEchart.cshtml";
}


@{

    ViewBag.Title = "新品销售贡献分析";

}

<h2>@ViewBag.Title</h2>



<!-- <div id="main" style="width: 600px;height:400px;"></div>-->
<div style="margin:20px 0;">
    <a href="javascript:void(0)" class="easyui-linkbutton" onclick="$('#selectArea').dialog('open')">选择条件框</a>
</div>

<div id="selectArea" class="easyui-window" title="选择框"  dat></div>

<div id="bar1" ng-controller="myBarCtrl" style="height: 400px;float:left;width:100%"></div>
<div>&nbsp;<table id="tt" class="easyui-datagrid"></table></div>


@*<script src="~/asset/YF/CGJE.js" type="text/javascript"></script>*@
<script style="">
$(window).load(function () {
    //要执行的方法体
    drawselect("selectArea", "SelZSD_M001_Q0004");
    drawbar6(null, "bar1", "BarZSD_M001_Q0005");
    drawtable(null, "tt", "TabZSD_M001_Q0004");

});
function buttononclick(pagequeryParams) {
    drawbar6(pagequeryParams, "bar1", "BarZSD_M001_Q0005");
    drawtable(pagequeryParams, "tt", "TabZSD_M001_Q0004");
}
</script>
