@{
    Layout = "~/Views/Shared/_LayoutEchart.cshtml";
}


@{

    ViewBag.Title = "shuanglin";

}

<h2>@ViewBag.Title</h2>

<p>Hello from our View Template2!</p>

<!-- <div id="main" style="width: 600px;height:400px;"></div>-->

    <div id="selectArea"></div>

    <div>
        <div id="bar1" ng-controller="myBarCtrl" style="height: 400px;float:left;width:60%"></div>
        <div id="bar2" ng-controller="myBarCtrl" style="height: 400px;float:left;width:40%"></div>
    </div>


    <div>&nbsp;<table id="tt"  class="easyui-datagrid" ></table></div>





@*<script src="~/asset/YF/CGJE.js" type="text/javascript"></script>*@
<script style="">
$(window).load(function () {
    //要执行的方法体
    drawselect("selectArea", "SelZPU_M001_Q0006");
    drawtable(null, "tt", "ZPU_M001_Q0006");

    drawbar2(null, "bar1", "ZPU_M001_Q0007");
    drawbar3(null, "bar2", "ZPU_M001_Q0008");
    //drawpie1(null, "main", "PieZPU_M001_Q0002");
});
</script>