@{
    Layout = "~/Views/Shared/_LayoutEchart.cshtml";
}


@{

    ViewBag.Title = "shuanglin";

}

<h2>@ViewBag.Title</h2>

<p>Hello from our View Template2!</p>

    <div id="selectArea"></div>

    <div>
        <div id="bar" ng-controller="myBarCtrl" style="height: 400px;float:left;width:100%"></div>
    </div>


    <div>&nbsp;<table id="tt"  class="easyui-datagrid" ></table></div>

<script style="">
$(window).load(function () {
    drawtable(null, "tt", "ZSD_M001_Q0011");
    drawbar2(null, "bar", "ZSD_M001_Q0012");
});
</script>