
@{
    Layout = "~/Views/Shared/_LayoutEchart.cshtml";
}

@{
    ViewBag.Title = "期间损益状况分析";
}

<h2 style="width:100%;text-align:center">@ViewBag.Title</h2>

<div id="selectArea"></div>

<div>&nbsp;<table id="tt1" class="easyui-datagrid"></table></div>
<div>&nbsp;<table id="tt2" class="easyui-datagrid"></table></div>

<script style="">
$(window).load(function () {
    //要执行的方法体
    drawselect("selectArea", "SelZCA_M001_Q0004");
    drawtable_auto(null, "tt1", "TabZCA_M001_Q0004");
    drawtable_auto(null, "tt2", "TabZCA_M001_Q0005");
});

function buttononclick(pagequeryParams) {
    drawtable_auto(pagequeryParams, "tt1", "TabZCA_M001_Q0004");
    drawtable_auto(pagequeryParams, "tt2", "TabZCA_M001_Q0005");
}


</script>

