
@{
    Layout = "~/Views/Shared/_LayoutEchart.cshtml";
}

@{
    ViewBag.Title = "shuanglin";
}

<h2>@ViewBag.Title</h2>

<p>Hello from our View Template2!</p>

<div id="selectArea"></div>
<div>
    <div id="bar" ng-controller="myBarCtrl" style="height: 400px;float:left;width:70%"></div>
</div>
    <div id="selectArea"></div>

    <div>
        <div id="bar" ng-controller="myBarCtrl" style="height: 400px;float:left;width:100%"></div>
    </div>

<div>&nbsp;<table id="tt" class="easyui-datagrid"></table></div>

<script style="">
$(window).load(function () {
    //要执行的方法体
    //drawselect("selectArea","");
    //drawtable2(null, "tt", "Rp2_Table1Metadata", "Rp2_Table1data");

    drawbar2(null, "bar", "ZPU_M001_Q0005");
   // drawpie1(null, "main", "PieZPU_M001_Q0002");
});
</script>
