
@{
    Layout = "~/Views/Shared/_LayoutEchart.cshtml";
}

@{
    ViewBag.Title = "应收账款统计分析";
}

<h2 style="width:100%;text-align:center">@ViewBag.Title</h2>

<div id="selectArea"></div>

<div>
    <div id="bar" ng-controller="myBarCtrl" style="height: 400px;float:left;width:100%"></div>
</div>

<div>&nbsp;<table id="tt1" class="easyui-datagrid"></table></div>
<div>&nbsp;<table id="tt2" class="easyui-datagrid"></table></div>
<div>&nbsp;<table id="tt3" class="easyui-datagrid"></table></div>

<script style="">
$(window).load(function () {
    //要执行的方法体
    drawbar2(null, "bar", "barZCA_M001_Q0001");
    drawtable(null, "tt1", "TabZFI_M001_Q0001");
    drawtable(null, "tt2", "TabZFI_M001_Q0002");
    drawtable_auto(null, "tt3", "TabZCA_M001_Q0001");
    //compute();

});


    //$('#tt3').datagrid('appendRow', {
    //    Saler: '<span  ">合计</span>'
    //    //TotalOrderCount: '<span  "> </span>',
    //    //TotalOrderMoney: '<span ">' + compute("TotalOrderMoney") + '</span>',
    //    //TotalOrderScore: '<span  ">' + compute("TotalOrderScore") + '</span>',
    //    //TotalTrailCount: '<span ">' + compute("TotalTrailCount") + '</span>',
    //    //Rate: '<span  ">' + ((compute("TotalOrderScore") / compute("TotalTrailCount")) * 100).toFixed(2) + '</span>'
    //});

    //$('#tt2').datagrid('appendRow', {
    //    ZCUSTOMER_T: '新名称',
    //    A00O2TFHXIFF1Z935F4B13NOOH_F: 30
    //});

function compute() {//计算函数
    alert("compute");

    var data = $('#tt2').datagrid('getData');
    alert('总数据量:' + data.total)//注意你的数据源一定要定义了total，要不会为undefined，datagrid分页就是靠这个total定义
    alert('当前页数据量:' + data.rows.length)

    var rows = $("#tt2").datagrid("getRows"); //这段代码是获取当前页的所有行。

    alert(rows.length);
    var ptotal = 0//计算listprice的总和
    , utotal = 0;//统计unitcost的总和
    for (var i = 0; i < rows.length; i++) {
        ptotal += rows[i].A00O2TFHXIFF1Z9355BIZYES2F_F;
        utotal += rows[i].A00O2TFHXIFF1Z9355BIZYK80N_F;
    }
    alert(ptotal);
    alert(utotal);
    //新增一行显示统计信息
    $('#tt2').datagrid('appendRow', { ZCUSTOMER_T: '<b>统计：</b>', A00O2TFHXIFF1Z9355BIZYES2F_F: ptotal, A00O2TFHXIFF1Z9355BIZYK80N_F: utotal });
}

$('#tt2')
  .datagrid({
      onLoadSuccess: function (data) {
          var data = $('#tt2').datagrid('getData');
          alert('总数据量:' + data.total)//注意你的数据源一定要定义了total，要不会为undefined，datagrid分页就是靠这个total定义
          alert('当前页数据量:' + data.rows.length);
      }
  });

function onLoadSuccess() {
    compute();
    alert("add");
    $('#tt2').datagrid('insertRow', {
        index: 12,	// 索引从0开始
        row: {
            ZCUSTOMER_T: '新名称',
            A00O2TFHXIFF1Z935F4B13NOOH_F: 30
        }

    });
}




$('#tt1').datagrid({
    title: 'DataGrid',
    fitColumns: true,
    rownumbers: true,
    showFooter: true,
    columns: [[{
        field: 'A00O2TFHXIFF1Z9LHQCOIQ581M_F',
        title: 'Product Name',
        width: 80
    }, {
        field: 'A00O2TFHXIFF1Z9LHUUCF3KV7S_F',
        title: 'Unit Price',
        width: 40, align: 'right'
    }]]

   
});

$('#tt2').datagrid(
    {
    title: 'DataGrid',
    width: 650
});
</script>


