
@{
    Layout = "~/Views/Shared/_LayoutEchart.cshtml";
}

@{
    ViewBag.Title = "存货库龄分析";
}

<h2 style="width:100%;text-align:center">@ViewBag.Title</h2>

<div id="selectArea"></div>

<div>&nbsp;<table id="tt" class="easyui-datagrid"></table></div>

<script style="">
$(window).load(function () {
    //要执行的方法体
    drawselect("selectArea", "SelZMM_M001_Q0004");
    drawtable(null, "tt", "TabZMM_M001_Q0004");
});

function buttononclick(pagequeryParams) {
    drawtable(pagequeryParams, "tt", "TabZMM_M001_Q0004");
}
</script>
 
