@{
    Layout = "~/Views/Shared/_LayoutDash.cshtml";
}

@*<div> <input class="easyui-switchbutton"  data-options="onText:'当月',offText:'年累计',width:100"></div>*@

<div style="height:150px;">
    <div style="float:left;height:150px; width:200px;" id="cwb1">1</div>
    <div style="float:left;height:150px; width:200px;" id="cwb2"> 1 </div>
    <div style="float:left;height:150px; width:200px;" id="cwb3"> 1 </div>
    <div style="float:right;height:150px; width:150px;" id="cw1"> 1 </div>
    <div style="float:right;height:150px; width:150px;" id="cw2"> 2 </div>   
    <div style="float:right;height:150px; width:150px;" id="cw3"> </div>
</div>
<div style="height:150px;">
    <div style="float:left;height:150px; width:200px;" id="yxb1"> 1 </div>
    <div style="float:left;height:150px; width:200px;" id="yxb2"> 2 </div>
    <div style="float:left;height:150px; width:200px;" id="yxb3"> </div>
    <div style="float:right;height:150px; width:150px;" id="yx1"> 1 </div>
    <div style="float:right;height:150px; width:150px;" id="yx2"> 2 </div>
    <div style="float:right;height:150px; width:150px;" id="yx3"> </div>
</div>
<div style="height:150px;">
    <div style="float:left;height:150px; width:200px;" id="yyb1"> 1 </div>
    <div style="float:left;height:150px; width:200px;" id="yyb2"> 2 </div>
    <div style="float:left;height:150px; width:200px;" id="yyb3"> </div>
    <div style="float:right;height:150px; width:150px;" id="yy1"> 1 </div>
    <div style="float:right;height:150px; width:150px;" id="yy2"> 2 </div>
    <div style="float:right;height:150px; width:150px;" id="yy3"> </div>
</div>
<div style="height:150px;">
    <div style="float:left;height:150px; width:200px;" id="czb1"> 1 </div>
    <div style="float:left;height:150px; width:200px;" id="czb2"> 2 </div>
    <div style="float:left;height:150px; width:200px;" id="czb3"> </div>
    <div style="float:right;height:150px; width:150px;" id="cz1"> 1 </div>
    <div style="float:right;height:150px; width:150px;" id="cz2"> 2 </div>
    <div style="float:right;height:150px; width:150px;" id="cz3"> </div>
</div>

<div ><table id="datagrid1" class="easyui-datagrid"></table></div>
<script src="~/asset/script/dash/dash1.js" type="text/javascript"></script>