@{
    Layout = "~/Views/Shared/_LayoutEchart.cshtml";
}


@{

    ViewBag.Title = "shuanglin";

}

<h2>@ViewBag.Title</h2>

<p>Hello from our View Template2!</p>

<!-- <div id="main" style="width: 600px;height:400px;"></div>-->

<div id="selectArea"></div>


<div id="bar" ng-controller="myBarCtrl" style="height: 400px;float:left;width:70%"></div>
<div>&nbsp;<table id="tt" class="easyui-datagrid"></table></div>





@*<script src="~/asset/YF/CGJE.js" type="text/javascript"></script>*@
<script style="">
$(window).load(function () {
    //要执行的方法体
    //drawselect("selectArea","");

    //drawbar5(null, "bar", "BarZPU_M001_Q0007");
    drawtable(null, "tt", "TabZSD_M001_Q0006");

});
</script>
